body{
    background-color: #E6DDC4 ; 
    color: #678983 !important;
}


.nav-link.active{
    color: #678983 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(103,137,131, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.container-fluid{
    text-align: center;
}

.colored-section{
    background-color: #181D31;
}

.fstdiv{
    background-color: #181D31;
}