/* ------ Infos------- */


/* 
Colors:
    dark: 000000
    light dark: 181818
    gray: 678983
    brownish: 735F32
    goldenish: C69749
    red: 231, 97, 97
	777
*/

/*
Codepen filer: https://codepen.io/sosuke/pen/Pjoqqp 
 */


/* ------ General Sets ------- */

body{
    background-color: #000000 ; 
    color: #F0E9D2 !important;
    opacity: .8;
    font-family: 'Sono', sans-serif;
    
}


.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	color: rgba(231, 97, 97, 1);
}

@media (min-width: 992px) {
    body{
        margin: auto !important;
    }

    
}

a:link, a:visited {
	text-decoration: none;
}

h1{
    color: rgba(231, 97, 97, 1);
}




.container-fluid{
    text-align: center;
    max-width: 2000px;
}

/* ------ Colored section -------*/

.colored-section{
    background-color: #000000;
}





/* --------Navbar --------*/

#navbar{
    padding: 1% 10%;
}

@media (max-width: 1028px){
    #navbar{
        font-size: 18px;
        padding: 2% 2%;
    }
}

.nav-link{
    color: #F0E9D2 !important;
    opacity: 1 !important;
}

.nav-link:hover{
    color: rgba(231, 97, 97) !important;
    opacity: 1 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231,97, 97, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}




/* --------Home --------*/

#home{
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100vh;
}

#text1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




/* -------- About me ---------*/


@media (max-width: 1028px){
    #image{
        padding-top: 3%;
        padding-bottom: 6%;
    }

    #aboutme{
        padding-right: 2%;
    }

}

#aboutme{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: justify;
    padding-right: 3%;
}

#text2 {
    text-align: justify;
    text-justify: inter-word;
}





/* -------- Timeline ---------*/
.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}

ul.timeline-list {
	position: relative;
	margin-bottom: 0;
	padding: 0
}


ul.timeline-list:before { /* line */
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: rgba(231, 97, 97, 1);
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

ul.timeline-list li {
	position: relative;
	clear: both;
	display: table;
}


.timeline_content {
	border: 2px solid rgba(231, 97, 97, 1);
	background-color:black;
}


ul.timeline-list li .timeline_content {
	width: 45%;
	color: #333;
	padding: 30px;
	float: left;
	text-align: right;
}

ul.timeline-list li:nth-child(2n) .timeline_content {
	float: right;
	text-align: left;
}

.timeline_content h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
	color: #F0E9D2;
}

.timeline_content h6{
	color: rgba(231, 97, 97, 1);
}


.timeline_content p{
	color: #F0E9D2;
	text-align: justify;
    text-justify: inter-word;
}


ul.timeline-list li:before { /* balls */
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background-color: rgba(231, 97, 97, 1);
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 50%;
}

.timeline_content span {
	font-size: 19px;
	font-weight: 500;
	font-family: poppins;
	color: rgba(231, 97, 97, 1);
}


.timeline-list li{
	margin-bottom: 30px;
}


@media (max-width: 992px){
    ul.timeline-list li:nth-child(2n) .timeline_content {
		float: left;
		text-align: left;
		margin-left: 8%;
		width: 90%;
		padding-right: 5%;
	}

	ul.timeline-list li:nth-child(2n+1) .timeline_content {
		float: left;
		text-align: left;
		margin-left: 8%;
		width: 90%;
		padding-right: 5%;
	}

	ul.timeline-list:before { /* line */
		left: 2%;
	}
	
	ul.timeline-list li:before { /* balls */
		
		left: 2%;
	}

	

}

/* -------- Skills ---------*/

/* -------- Experiences ---------*/

/* -------- Projects ---------*/

/* -------- Footer ---------*/

svg{
	width: 40px;
	height: 40px;
	margin: 10px;
	color: #F0E9D2;
	cursor: pointer;
}

svg:hover{
	color: rgba(231, 97, 97, 1);
}


@media (max-width: 992px){
    svg{
		width: 30px;
		height: 30px;
	}
	

}

#icon{
	width: 40px;
	height: 40px;
	margin: 10px;
	fill: #F0E9D2;
	cursor: pointer;
}

#img2:hover{
	width: 40px;
	height: 40px;
	border: 10px;
	filter: invert(48%) sepia(13%) saturate(2258%) hue-rotate(312deg) brightness(101%) contrast(98%);
	cursor: pointer;
}

#img2{
	width: 40px;
	height: 40px;
	border: 10px;
	filter: invert(94%) sepia(20%) saturate(266%) hue-rotate(340deg) brightness(101%) contrast(88%);
	cursor: pointer;
}
