/* ------ General Sets ------- */

body{
    background-color: #181D31 ; 
    color: #678983 !important;
    font-family: 'Sono', sans-serif;
    
}

@media (min-width: 992px) {
    body{
        margin: auto !important;
    }
}

h3{
    color: aquamarine;
}

.container-fluid{
    text-align: center;
    max-width: 2000px;
}

.colored-section{
    background-color: #181D31;
}

.colored-section{
    background-color: #181D31;
}

/* ------ White section -------*/
.white-section{
    background-color: #F0E9D2;
}



/* --------Navbar --------*/
#navbar{
    padding: 1% 10%;
}

@media (max-width: 1028px){
    #navbar{
        font-size: 18px;
        padding: 2% 2%;
    }
}

.nav-link{
    color: #678983 !important;
}

.nav-link:hover{
    color: yellow !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(127,255,212, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* --------Home --------*/

#home{
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100vh;
}

#text1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* -------- About me ---------*/

#aboutme{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: justify;
    padding-right: 3%;
}


@media (max-width: 992px){
    #image{
        padding-top: 3%;
        padding-bottom: 6%;
    }

    #aboutme{
        padding-right: 2%;
    }

}

#text2 {
    text-align: justify;
    text-justify: inter-word;
}





